/* Style Guide
dark purple: #354356
light blue: #c6d7ea
dark blue: #7AAFB1
*/

/* Main Styling */
:root {
  --dark-blue: #354356;
  --white-blue: #c6d7ea;
  --light-blue: #7AAFB1;
}
body {
  background-color: var(--white-blue);
  font-family: 'EB Garamond', serif;
}

h1 {
  font-size: 36px;
  font-weight: normal;
  color: var(--dark-blue);
  text-align: center;
  font-family: 'EB Garamond', serif;
}

html, body {
  margin: 0;
  height: 100%;
  display: grid;
}

p {
  font-size: 18px;
}

h3 {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
}

ul {
  font-size: 18px;
  list-style-type: circle;
}

a {
  color: var(--dark-blue);
}

footer {
  background-color: var(--dark-blue);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  right: 0;
  left: 0;
  bottom: 0;
}

footer ul, footer a {
  list-style-type: none;
  display: flex;
  color: #fff;
  align-self: center;
}

footer ul {
  float: right;
}

footer li {
  padding: 10px;
}

/* header */
header {
  margin-top: 10px;
}

header p {
  color: #354356;
  font-size: 18px;
  text-align: center;
  background-color: #c6d7ea;
  margin-top: 5px;
  margin-bottom: 5px;
}

.h-text {
  width: 300px;
  display: block;
  margin: auto;
  background-color: #c6d7ea;
  z-index: 1;
}

.h-text h1 {
  background-color: #c6d7ea;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  position: relative;

}

header hr {
  border: 6px solid #354356;
  margin-top: -60px;
}

/* nav */
.nav ul {
  list-style: none;
  display: flex;
  color: #354356;
  padding: 0;
}

.nav {
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.nav li {
  padding: 20px;
  font-size: 20px;
  text-transform: uppercase;
}

.nav li a {
  text-decoration: none;
  color: #354356;
}

.nav .active {
  font-weight: bold;
}
/* Home Page */
.blurb-container {
  background-color: #7AAFB1;
  height: 250px;
  display: flex;
}

.content {
  display: flex;
  align-items: center;
}

.blurb-container .content {
  width: 800px;
  margin: auto;
}

.blurb-container img {
  width: 170px;
  background-color: #c6d7ea;
}

.l-content {
  display: flex;
  width: 500px;
  float: left;
  align-self: center;
}

.b-l-text {
  height: 100px;
  align-self: center;
  padding: 20px;
}

.b-l-text h2 {
  font-weight: normal;
  font-size: 30px;
  margin: 0;
}

.b-l-text p {
  font-size: 18px;
}

.r-content {
  justify-content: flex-end;
  width: 300px;
  text-align: center;
}

.r-content p {
  float: right;
  width: 200px;
  font-size: 18px;
}

.main-container {
  width: 1000px;
  margin: auto;
}

.h-left {
  width: 600px;
  float: left;
}

.h-right {
  width: 300px;
  float: right;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--light-blue);
}

.h-right h3 {
  font-size: 20px;
}

.about-blurb {

}
